
.env

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Node
## ignores node_modules in every directory
## starting from the root
/**/node_modules

npm-debug.log
yarn-error.log

# Visual Studio Code
.vscode/
/**/.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json
.history/*

# System files
.DS_Store
Thumbs.db


